<footer class="footer">
    <p>Built by Nedim Mulahusic</p>
    <div class="logos">
        <a href="https://github.com/NedimM24"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/nedim-mulahusic-069261419/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <p><small>Demo project - not a real store</small></p>
    </footer>
</body>
</html>