<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <a href="/"><h1>Summit Supply Co ⛰️</h1></a>
            <nav class="header-nav">
            <a href="/">Home</a>
            <a >|</a>
            <a href="/newCategory">Add Category</a>
    </nav>
    </header>
</body>
</html>