
    <%- include('partials/header')%>
    <%- include('partials/categoryErrors')%>
    
    <form class="form" method="POST" action="/createCategory">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required>

        <label for="description">Description</label>
        <input id="description" name="description" type="text" required>

        <label for="image_url">Image url</label>
        <input id="image_url" name="image_url" type="text" placeholder="Can be left blank">

        <button  class="form-btn" type="submit">Add Category</button>
    </form>
    <%- include('partials/footer')%>
