
    <%- include('partials/header')%>
    <%- include('partials/itemErrors')%>
    <form class="form" method="POST" action="/categoryDetails/<%=categoryId%>/createItem">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required>

        <label for="description">Description</label>
        <input id="description" name="description" type="text" required>

        <label for="price">Price</label>
        <input id="price" min="0" name="price" type="number" step="0.01" required>

        <label for="quantity">Quantity</label>
        <input id="quantity" min="0" name="quantity" type="number" required>

        <label for="image_url">Image url</label>
        <input id="image_url" name="image_url" type="text" placeholder="Can be left blank">

        <button type="submit">Add item</button>
    </form>
    <%- include('partials/footer')%>
    
